.Navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(136, 53, 190);
    color: white;
    /* color: rgb(96, 197, 255); */
    height: 70px;
}

.NavTitle {
    text-decoration: none;
    color: white;
}

.Titletext {
    margin-left: 30px;
    font-weight: lighter;
    font-size: 30px;
    cursor: pointer;
}

.NavRouters {
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.routes {
    margin: 0px 17px;
    cursor: pointer;
    transition: all 0.4s;
}

.routes:hover {
    text-decoration: underline;
}

.NavBtns {
    display: flex;
    flex-direction: row;
}

.CreateNote {
    background-color: rgb(230, 192, 67);
    /* background-color: rgb(96, 197, 255); */
    height: 30px;
    width: 90px;
    margin-right: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s;
}

.CreateNote:hover {
    background: none;
    color: white;
    border-color: rgb(49, 1, 49);
}

.DelAccountBtn {
    width: 100px;
    height: fit-content;
    background-color: red;
    color: white;
    border-radius: 300px;
    font-weight: lighter;
    font-family: sans-serif;
}

.DelAccountBtn:hover {
    background: none;
    color: white;
    border-color: rgb(49, 1, 100);
}